# DATA TYPES
 **Built-in Data Types**
 
 **Variables can store data of different types, and different types can do different things.**

**Python has the following data types built-in by default, in these categories:**

**Text Type:	str**

**Numeric Types:	int, float, complex**

**Sequence Types:	list, tuple, range**

**Mapping Type:	dict**

**Set Types:	set, frozenset**

**Boolean Type:	bool**

## You can get the data type of any object by using the type() function:
### For Example:

In [3]:
x = 5
print(type(x))

y= 'MyNameIsJehad'
print(type(y))

z= 0.005
print(type(z))

a= 1j 
print(type(a))

<class 'int'>
<class 'str'>
<class 'float'>
<class 'complex'>

## Type Conversion
#### You can convert from one type to another with the int(), float(), and complex() methods:

#### Example

**Convert from one type to another:**

In [4]:
x = 1    # int
y = 2.8  # float
z = 1j   # complex

#convert from int to float:
a = float(x)

#convert from float to int:
b = int(y)

#convert from int to complex:
c = complex(x)

print(a)
print(b)
print(c)

print(type(a))
print(type(b))
print(type(c))

1.0
2
(1+0j)
<class 'float'>
<class 'int'>
<class 'complex'>

# 1) string is data type used to represent text data

**we can say it is a sequence of character**

**there can be one or more than one character in a string**

**can be represented in a single, double, or tripple qoute marks**

In [7]:
print('This is an example of string')

This is an example of string

# Operations on strings

# 1) Concatination

**Joining any two strings, we put + sign between the two strings**

In [1]:
print('jehad ali taj,' + 'This is my name okay,' + ' You can call me alitaj only')

jehad ali taj,This is my name okay, You can call me alitaj only

In [4]:
print(*'jehad ali taj,' + 'This is my name okay,' + ' You can call me jehad only')

# just for fun and shtyle

j e h a d   a l i   t a j , T h i s   i s   m y   n a m e   o k a y ,   Y o u   c a n   c a l l   m e   j e h a d   o n l y

# 2) Slicing 
### if you want to take the partial piece of list

**Example:**

In [5]:
print('LANGUAGE')

LANGUAGE

In [6]:
print ("LANGUAGE" [1:])

ANGUAGE

In [7]:
print ("LANGUAGE" [2:])

NGUAGE

In [8]:
print ("LANGUAGE" [1:5])

ANGU

#  3) Repetition of string

In [6]:
print("hey budyy"*25)

hey budyyhey budyyhey budyyhey budyyhey budyyhey budyyhey budyyhey budyyhey budyyhey budyyhey budyyhey budyyhey budyyhey budyyhey budyyhey budyyhey budyyhey budyyhey budyyhey budyyhey budyyhey budyyhey budyyhey budyyhey budyy

#  SPecial characters in str

In [7]:
print('it's his book')  
      
#       gives error because we have use outer single qoutes

SyntaxError: invalid syntax (<ipython-input-7-0cd170a80b76>, line 1)

In [8]:
print("it's his book")

# Os zaka run sho che da ' special character dy nu bya ba double qoute use ky kha khan

it's his book

#  Escape sequence in the string

**Use to suppress the meaning of special characters**

**For this we use backslash \ before special char**

In [17]:
print('this is my \' book')

this is my ' book

In [19]:
print ('my \
name \
is \
janan')

# \ at the end it is also use to ignore line space

my name is janan

In [25]:
print( 'Prison \\ break  ')

Prison \ break

#  CLASS TASK No. 1

In [28]:
print ('Baby Shark, Duh-dum (3X),\n \
\tSister Shark, Duh-dum (3X) ,\n \
\t\tBrother Shark, duh-dum (3X), \n \
\t \tMomma Shark,duh-dum(3X), \n \
Daddy Shark,duh-dum(3X), \n \
\t SHARK ATTAK! AHHHHHHH!, \n \
\t\t\tswim away from the shark, \n \
\t\t\tDuh-dum(faster 3X),  \n \
gotcha!')

Baby Shark, Duh-dum (3X),
 	Sister Shark, Duh-dum (3X) ,
 		Brother Shark, duh-dum (3X),
 	 	Momma Shark,duh-dum(3X),
 Daddy Shark,duh-dum(3X),
 	 SHARK ATTAK! AHHHHHHH!,
 			swim away from the shark,
 			Duh-dum(faster 3X),
 gotcha!